{
    "root": true,
    "extends": [
        "@react-native-community",
        "airbnb-typescript",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-use-before-define": "off",
        "react/style-prop-object": [
            "error",
            {
                "allow": [
                    "StatusBar"
                ]
            }
        ],
        "react/require-default-props": 0
    },
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "settings": {
        "import/core-modules": [
            "@expo/vector-icons"
        ]
    }
}